<div class="nav-header">
   
    <a href="/index" class="brand-logo pt-3">

        <img src="/upload/<%= master_shop[0].image %>" class="mx-2 rounded" width="66.5px" height="66.5px">

        <h2 class="brand-title" width="101.5px" height="29.5px">
            <span class="svg-logo-text-path" fill-rule="evenodd"  stroke="rgb(0, 0, 0)" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" fill="rgb(64, 24, 157)">
                <%= master_shop[0].site_title %>
            </span>
        </h2>
    </a>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line "></span><span class="line"></span><span class="line"></span>
        </div>
    </div>

</div>