<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:image" content="social-image.png" />
	<meta name="format-detection" content="telephone=no">
    <title><%= master_shop[0].site_title %></title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/upload/<%= master_shop[0].image %>">
    <!-- <link href="../../../vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet"> -->
	<!-- <link rel="stylesheet" href="../../../vendor/chartist/css/chartist.min.css"> -->
    <link rel="stylesheet" href="../../../vendor/select2/css/select2.min.css">
 	<link href="../../../css/style2.css" rel="stylesheet">
	<!-- Datatable -->
    <link href="../../../vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">

	<!-- Vectormap -->
    <!-- <link href="../../../vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="../../../vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="../../../vendor/owl-carousel/owl.carousel.css" rel="stylesheet"> -->
	
    
	<!-- <link href="../../../vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet"> -->
   

	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> -->

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->


	<!-- toster jqury link -->
	<script src="../../../js/tostify/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" href="../../../css/toastr.min.css"/>
	<script src="../../../js/tostify/js-toastr.js"></script>


	<!-- Optional JavaScript
         jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

        <!-- for pdf -->

        
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <!-- <script data-jsd-embedded data-key="80d2239b-7d21-4b2a-a4ea-b12fb2a89cff" data-base-url="https://jsd-widget.atlassian.com" src="https://jsd-widget.atlassian.com/assets/embed.js"></script> -->