<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">

                <li>
                    <a class="has-arrow ai-icon" href="/index" href="javascript:void()" aria-expanded="false">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g>
                              <g> 
                                <path d="M9.07861 16.1355H14.8936" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.3999 13.713C2.3999 8.082 3.0139 8.475 6.3189 5.41C7.7649 4.246 10.0149 2 11.9579 2C13.8999 2 16.1949 4.235 17.6539 5.41C20.9589 8.475 21.5719 8.082 21.5719 13.713C21.5719 22 19.6129 22 11.9859 22C4.3589 22 2.3999 22 2.3999 13.713Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                              </g>
                            </g>
                        </svg>
                        <span class="nav-text "><%= language.dashboard %></span>
                    </a>
                </li>
            
                <!-- <li>
                    <a href="/customer/view" class="has-arrow ai-icon" aria-expanded="false">
                      

                      <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M256 402.3h219.4v73.1H256zM256 548.6h219.4v73.1H256zM256 694.9h219.4V768H256zM621.7 694.9H768V768H621.7z" fill="#0F1F3C"></path><path d="M877.7 877.7V548.6l-292.6-117V73.1L146.3 292.6v585.1h-36.6v73.1h804.6v-73.1h-36.6z m-658.3 0V337.8L512 191.5v686.2H219.4z m365.7 0V510.3l219.4 87.8v279.6H585.1z" fill="#0F1F3C"></path></g></svg>
                          <span class="nav-text ">Affiliate </span>
                    </a>

                </li> -->

                <li>
                    <a href="/customer_sa/view" class="has-arrow ai-icon" aria-expanded="false">
                      <svg viewBox="0 -0.5 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="si-glyph si-glyph-customer-support" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>715</title> <defs> </defs> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(1.000000, 0.000000)" fill="#434343"> <g transform="translate(0.000000, 2.000000)"> <path d="M8.005,10.094 C6.563,10.094 5.098,9.238 4.243,8.105 C0.141,8.105 0.017,13.965 0.017,13.965 L15.992,13.965 C15.992,13.965 16.314,8.079 11.701,8.079 C10.847,9.226 9.447,10.094 8.005,10.094 Z" class="si-glyph-fill"> </path> <path d="M11.441,3.069 C11.441,4.755 9.902,7.979 8.002,7.979 C6.105,7.979 4.565,4.754 4.565,3.069 C4.565,1.384 6.104,0.016 8.002,0.016 C9.902,0.017 11.441,1.385 11.441,3.069 L11.441,3.069 Z" class="si-glyph-fill"> </path> </g> <path d="M12.975,3.614 C12.975,3.298 12.535,3.043 11.989,3.041 L11.989,2.39 C11.989,2.293 12.026,0.022 8.014,0.022 C4.004,0.022 4.041,2.293 4.041,2.39 L4.041,3.064 C4.031,3.064 4.023,3.061 4.014,3.061 C3.471,3.061 3.034,3.312 3.034,3.623 L3.034,6.377 C3.034,6.686 3.472,6.938 4.014,6.938 C4.556,6.938 4.996,6.686 4.996,6.377 L4.996,3.623 C4.996,3.58 4.969,3.541 4.953,3.501 L4.953,2.75 C4.953,2.681 4.665,0.967 8.014,0.967 C11.364,0.967 11.016,2.681 11.016,2.75 L11.016,3.541 C11.01,3.566 10.991,3.588 10.991,3.614 L10.991,6.431 C10.991,6.748 11.434,7.005 11.983,7.005 C11.995,7.005 12.004,7.001 12.016,7.001 L12.016,8.03 L11.032,8.03 L11.032,9 L12.985,9 L12.975,3.614 L12.975,3.614 Z" class="si-glyph-fill"> </path> </g> </g> </g></svg>
                        <span class="nav-text "><%= language.customer %></span>
                    </a>

                </li>



                


                <!-- <li class="has-menu">
                  <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M19.838 5.455a1 1 0 00-.432-.369l-9-4a.999.999 0 00-.812 0l-9 4A1 1 0 000 6v14h2V6.65l8-3.556 8 3.556V20h2V6a1 1 0 00-.162-.545zM12 8h4v4h-4V8zm-2 2H4v10h6V10zm6 4h-4v6h4v-6z" fill="#5C5F62"></path></g></svg>
                      <span class="nav-text">Inventory</span>
                  </a>
                  <ul aria-expanded="false">

                    <li>
                      <a href="/my_inventory/confirm" class="ai-icon" aria-expanded="false">
                        <svg fill="#000000" height="20" width="20" version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 256 188" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <g> <path d="M63,133c-13,0-23.5,10.5-23.5,23.5s10.5,23.5,23.5,23.5c13,0,23.5-10.5,23.5-23.5S76,133,63,133z M63,165.4 c-4.9,0-9-4.1-9-9c0-4.9,4.1-9,9-9c4.9,0,9,4.1,9,9C72,161.4,68,165.4,63,165.4z M210.8,132c-13,0-23.5,10.5-23.5,23.5 s10.5,23.5,23.5,23.5c13,0,23.5-10.5,23.5-23.5S223.8,132,210.8,132z M210.8,164.4c-4.9,0-9-4.1-9-9c0-4.9,4.1-9,9-9 c4.9,0,9,4.1,9,9C219.8,160.4,215.8,164.4,210.8,164.4z M-0.5,143.1c0,4.6,3.7,8.2,8.2,8.2h22.6c0.9,0,1.7-0.7,1.9-1.5 c2.6-14.7,15.4-24.9,30.8-24.9s28.3,10.2,30.8,24.9c0.2,0.9,0.9,1.5,1.9,1.5H99h30.9V115H-0.5V143.1z M253.6,134.5h-5v-22 c0-7.5-6.1-13.6-13.7-13.6h-24.3c-0.5,0-1-0.3-1.4-0.6l-38-37c-1.7-1.7-4.1-2.7-6.6-2.8h-27.5v92.8h40.9c0.9,0,1.7-0.7,1.9-1.5 c2.6-14.7,15.4-25.9,30.8-25.9s28.3,11.2,30.8,25.9c0.2,0.9,0.9,1.5,1.9,1.5h3.2c4.9,0,8.7-3.9,8.7-8.7v-6.3 C255.5,135.4,254.6,134.5,253.6,134.5z M191.1,99h-41.4c-1,0-1.9-0.9-1.9-1.9V70.7c0-1,0.9-1.9,1.9-1.9h13.9c0.5,0,1,0.3,1.5,0.6 l27.5,26.3C193.5,97,192.7,99,191.1,99z"></path> </g> </g> </g> <path d="M57.8,101.5H17.1V60.8h15.7v13h9.3v-13h15.7V101.5z M110.9,101.5H70.3V60.8H86v13h9.3v-13h15.7V101.5z M84.7,48.3H44V7.6 h15.7v13H69v-13h15.7V48.3z"></path> </g></svg>
                        <span class="nav-text ">Incoming Transaction</span>
                      </a>
  
                    </li>


                    <li>
                      <a href="/my_inventory/view" class="ai-icon" aria-expanded="false">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M18 5.65l-8-3.555L2 5.65V19H0V5c0-.396.232-.753.594-.913l9-4a.999.999 0 01.812 0l9 4A1 1 0 0120 5v14h-2V5.65z" fill="#5C5F62"></path><path d="M9 15a.997.997 0 01-.707-.293l-2-2a1 1 0 011.414-1.414L9 12.586l3.293-3.293a1 1 0 111.414 1.415l-4 4A.999.999 0 019 15z" fill="#5C5F62"></path></g></svg>
                        <span class="nav-text ">My Inventory</span>
                      </a>
  
                    </li>

                    <li>
                      <a href="/main_inventory/view" class="ai-icon" aria-expanded="false">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M19.838 5.455a1 1 0 00-.432-.369l-9-4a.999.999 0 00-.812 0l-9 4A1 1 0 000 6v14h2V6.65l8-3.556 8 3.556V20h2V6a1 1 0 00-.162-.545zM12 8h4v4h-4V8zm-2 2H4v10h6V10zm6 4h-4v6h4v-6z" fill="#5C5F62"></path></g></svg>
                        <span class="nav-text ">Warehouse</span>
                      </a>
  
                    </li>

                  </ul>
                </li> -->
                <li>
                    <a href="/sales_sa/" class="has-arrow ai-icon" aria-expanded="false">
                      <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect width="48" height="48" fill="white" fill-opacity="0.01"></rect> <path d="M41 13.9997L24 4L7 13.9997L7 33.9998L24 44L41 33.9998V13.9997Z" fill="#2F88FF" stroke="#000000" stroke-width="4" stroke-linejoin="round"></path> <path d="M24 22V30" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M32 18V30" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M16 26V30" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                      <span class="nav-text ">Invoice</span>
                    </a>
                </li>


                <li>
                  <a href="/sales_order/" class="has-arrow ai-icon" aria-expanded="false">
                    <svg fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="sales--connect_1_" d="M23,30.36H9v-0.72h6.64v-4.28H3c-1.301,0-2.36-1.059-2.36-2.36V6c0-1.301,1.059-2.36,2.36-2.36 h20.851c0.312-0.594,0.934-1,1.649-1c1.025,0,1.86,0.834,1.86,1.86s-0.835,1.86-1.86,1.86c-0.383,0-0.739-0.116-1.035-0.315 l-6.42,6.42c0.199,0.296,0.315,0.652,0.315,1.035c0,1.025-0.835,1.86-1.86,1.86s-1.86-0.834-1.86-1.86 c0-0.383,0.116-0.739,0.315-1.035l-1.42-1.42c-0.592,0.398-1.479,0.398-2.07,0l-3.42,3.42C8.244,14.761,8.36,15.117,8.36,15.5 c0,1.025-0.834,1.86-1.86,1.86s-1.86-0.835-1.86-1.86s0.834-1.86,1.86-1.86c0.383,0,0.739,0.116,1.035,0.315l3.42-3.42 C10.756,10.239,10.64,9.883,10.64,9.5c0-1.025,0.834-1.86,1.86-1.86s1.86,0.834,1.86,1.86c0,0.383-0.116,0.739-0.315,1.035 l1.42,1.42c0.592-0.398,1.479-0.398,2.07,0l6.42-6.42C23.756,5.239,23.64,4.883,23.64,4.5c0-0.047,0.002-0.094,0.006-0.14H3 C2.096,4.36,1.36,5.096,1.36,6v13.64h29.28V4h0.721v19c0,1.302-1.059,2.36-2.36,2.36H16.36v4.279H23V30.36z M1.36,20.36V23 c0,0.904,0.736,1.64,1.64,1.64h26c0.904,0,1.64-0.735,1.64-1.64v-2.64H1.36z M6.5,14.36c-0.628,0-1.14,0.512-1.14,1.14 s0.512,1.14,1.14,1.14s1.14-0.512,1.14-1.14S7.128,14.36,6.5,14.36z M16.5,12.36c-0.628,0-1.14,0.512-1.14,1.14 s0.512,1.14,1.14,1.14c0.629,0,1.14-0.512,1.14-1.14S17.129,12.36,16.5,12.36z M12.5,8.36c-0.628,0-1.14,0.512-1.14,1.14 s0.512,1.14,1.14,1.14s1.14-0.512,1.14-1.14S13.128,8.36,12.5,8.36z M25.5,3.36c-0.629,0-1.14,0.512-1.14,1.14s0.511,1.14,1.14,1.14 s1.14-0.512,1.14-1.14S26.129,3.36,25.5,3.36z"></path> <rect id="_Transparent_Rectangle" style="fill:none;" width="32" height="32"></rect> </g></svg>
                    <span class="nav-text ">Sales Order</span>
                  </a>
              </li>

                <li>
                  <a href="/gross_price_setup/" class="has-arrow ai-icon" aria-expanded="false">
                    <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50.189 50.189" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M38.799,23.748c-0.93-1.371-1.624-3.553-1.199-5.154l2.02-7.601c0.425-1.602-0.003-3.253-0.956-3.689 c-0.954-0.436-1.727-0.789-1.727-0.789c-0.635-0.289-1.403-0.614-2.325-0.92c-1.312-0.436-2.415-1.756-2.415-3.122 c0-1.365-1.343-2.473-3-2.473H21.25c-1.657,0-3,1.334-3,2.978s-1.265,3.469-2.644,4.388c-3.702,2.467-5.887,6.349-5.887,10.913 c0,2.063,0.439,3.822,1.157,5.322c0.715,1.494,1.293,3.811,0.881,5.417L9.438,38.07c-0.412,1.605-0.062,3.283,0.778,3.748 c0.842,0.465,1.524,0.843,1.524,0.843c0.977,0.54,2.119,1.02,3.356,1.422c1.576,0.513,2.9,1.959,2.9,3.435 c0,1.475,1.343,2.672,3,2.672h7.997c1.657,0,3-1.344,3-3v-0.305c0-1.656,1.271-3.475,2.664-4.371 c3.905-2.511,6.27-6.578,6.27-11.312C40.927,28.082,40.093,25.656,38.799,23.748z M30.306,39.699 c-1.537,0.615-2.889,1.955-2.889,3.391s-1.118,2.6-2.499,2.6c-1.379,0-2.498-1.072-2.498-2.396c0-1.325-1.347-2.441-2.979-2.732 c-1.005-0.18-1.963-0.416-2.835-0.69c-1.581-0.497-2.435-2.445-2.022-4.052l0.024-0.094c0.412-1.604,1.92-2.236,3.482-1.687 c1.675,0.591,3.6,1.002,5.643,1.002c2.927,0,4.896-1.161,4.896-3.13c0-1.918-1.615-3.129-5.399-4.393 c-5.401-1.815-9.086-4.341-9.086-9.237c0-3.624,2.037-6.591,5.66-8.133c1.524-0.649,2.87-1.925,2.87-3.249 c0-1.324,1.107-2.398,2.474-2.398c1.365,0,2.474,0.994,2.474,2.221c0,1.227,1.35,2.231,2.982,2.516 c0.56,0.098,1.082,0.215,1.57,0.347c1.602,0.431,2.478,2.302,2.059,3.876c-0.418,1.575-1.95,2.209-3.537,1.731 c-1.198-0.361-2.689-0.646-4.488-0.646c-3.28,0-4.341,1.464-4.341,2.877c0,1.615,1.767,2.726,6.106,4.29 c6.008,2.12,8.38,4.896,8.38,9.489C36.352,34.882,34.254,38.12,30.306,39.699z"></path> </g> </g></svg>
                    <span class="nav-text ">Gross</span>
                  </a>
              </li>

                <li class="has-menu">
                  <!-- <a href="/collection/view" class="has-arrow ai-icon" aria-expanded="false"> -->
                    <a class="has-arrow ai-icon" aria-expanded="false">
                    <svg fill="#000000" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M1242.353 677.647V1920H0V677.647h1242.353Zm-112.941 112.941H112.942v1016.47h1016.47V790.589Zm-790.588 338.824h564.705V1016.47H338.824v112.94Zm0 451.764h564.705v-112.94H338.824v112.94ZM1581.176 338.824v1242.352h-225.882v-112.94h112.941V451.764H451.765v112.94H338.824V338.825h1242.352Zm-790.475 903.529v112.941H338.824v-112.941H790.7ZM1920.034-.011v1242.353h-225.882V1129.4h112.94V112.93H790.623v112.94H677.681V-.01h1242.353Z" fill-rule="evenodd"></path> </g></svg>
                    <span class="nav-text ">Collection</span>
                  </a>
                  <ul aria-expanded="false">
                    <li class="has-menu">
                      <a class="has-arrow ai-icon" aria-expanded="false">
                        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7071 7.29289C17.0976 7.68342 17.0976 8.31658 16.7071 8.70711L8.41421 17C7.63316 17.7811 6.36683 17.781 5.58579 17L6.29289 16.2929L5.58579 17L2.29289 13.7071C1.90237 13.3166 1.90237 12.6834 2.29289 12.2929C2.68342 11.9024 3.31658 11.9024 3.70711 12.2929L7 15.5858L15.2929 7.29289C15.6834 6.90237 16.3166 6.90237 16.7071 7.29289ZM21.7071 7.29289C22.0976 7.68342 22.0976 8.31658 21.7071 8.70711L12.7071 17.7071C12.3166 18.0976 11.6834 18.0976 11.2929 17.7071C10.9024 17.3166 10.9024 16.6834 11.2929 16.2929L20.2929 7.29289C20.6834 6.90237 21.3166 6.90237 21.7071 7.29289Z" fill="#0F1729"></path> </g></svg>
                        <span class="nav-text ">Ex-truck</span>
                      </a>
                      <ul aria-expanded="false">
                        <li>
                          <a href="/collection/view_x" class="ai-icon" aria-expanded="false">
                            <svg fill="#000000" width="20px" height="20px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g fill-rule="evenodd"> <path d="M0 92.168 92.299 0l959.931 959.935L92.299 1920 0 1827.57l867.636-867.635L0 92.168Z"></path> <path d="M868 92.168 960.299 0l959.931 959.935L960.299 1920 868 1827.57l867.64-867.635L868 92.168Z"></path> </g> </g></svg>
                            <span class="nav-text ">Invoice Collection</span>
                          </a>
                      </li>

                      <li>
                        <a href="/collection/so_x" class="ai-icon" aria-expanded="false">
                          <svg fill="#000000" width="20px" height="20px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g fill-rule="evenodd"> <path d="M0 92.168 92.299 0l959.931 959.935L92.299 1920 0 1827.57l867.636-867.635L0 92.168Z"></path> <path d="M868 92.168 960.299 0l959.931 959.935L960.299 1920 868 1827.57l867.64-867.635L868 92.168Z"></path> </g> </g></svg>
                          <span class="nav-text ">Sales order Collection</span>
                        </a>
                    </li>

                      </ul>
                    </li>

                    <li class="has-menu">
                      <a class="has-arrow ai-icon" aria-expanded="false">
                        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7071 7.29289C17.0976 7.68342 17.0976 8.31658 16.7071 8.70711L8.41421 17C7.63316 17.7811 6.36683 17.781 5.58579 17L6.29289 16.2929L5.58579 17L2.29289 13.7071C1.90237 13.3166 1.90237 12.6834 2.29289 12.2929C2.68342 11.9024 3.31658 11.9024 3.70711 12.2929L7 15.5858L15.2929 7.29289C15.6834 6.90237 16.3166 6.90237 16.7071 7.29289ZM21.7071 7.29289C22.0976 7.68342 22.0976 8.31658 21.7071 8.70711L12.7071 17.7071C12.3166 18.0976 11.6834 18.0976 11.2929 17.7071C10.9024 17.3166 10.9024 16.6834 11.2929 16.2929L20.2929 7.29289C20.6834 6.90237 21.3166 6.90237 21.7071 7.29289Z" fill="#0F1729"></path> </g></svg>
                        <span class="nav-text ">Booking</span>
                      </a>

                      <ul aria-expanded="false">
                        <li>
                          <a href="/collection/view" class="ai-icon" aria-expanded="false">
                            <svg fill="#000000" width="20px" height="20px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g fill-rule="evenodd"> <path d="M0 92.168 92.299 0l959.931 959.935L92.299 1920 0 1827.57l867.636-867.635L0 92.168Z"></path> <path d="M868 92.168 960.299 0l959.931 959.935L960.299 1920 868 1827.57l867.64-867.635L868 92.168Z"></path> </g> </g></svg>
                            <span class="nav-text ">Invoice Collection</span>
                          </a>
                      </li>

                      <li>
                        <a href="/collection/x_so" class="ai-icon" aria-expanded="false">
                          <svg fill="#000000" width="20px" height="20px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g fill-rule="evenodd"> <path d="M0 92.168 92.299 0l959.931 959.935L92.299 1920 0 1827.57l867.636-867.635L0 92.168Z"></path> <path d="M868 92.168 960.299 0l959.931 959.935L960.299 1920 868 1827.57l867.64-867.635L868 92.168Z"></path> </g> </g></svg>
                          <span class="nav-text ">Sales order Collection</span>
                        </a>
                    </li>
                      </ul>
                    </li>
                  </ul>
                </li>

              <% if (role.sales_category == "1" && role.account_category == "sa") { %>
                <% console.log(role) %>


                <li class="has-menu">
                  <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <svg version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .feather_een{fill:#0B1719;} </style> <path class="feather_een" d="M8,10.5L8,10.5C8,10.224,8.224,10,8.5,10h3c0.276,0,0.5,0.224,0.5,0.5v0c0,0.276-0.224,0.5-0.5,0.5h-3 C8.224,11,8,10.776,8,10.5z M8.5,13h3c0.276,0,0.5-0.224,0.5-0.5v0c0-0.276-0.224-0.5-0.5-0.5h-3C8.224,12,8,12.224,8,12.5v0 C8,12.776,8.224,13,8.5,13z M30,8v18c0,1.657-1.343,3-3,3H5c-1.657,0-3-1.343-3-3V8c0-1.657,1.343-3,3-3c0,0,0.448-1,1-1h3.092 C9.299,3.419,9.849,3,10.5,3s1.201,0.419,1.408,1H14c0.552,0,1,0.448,1,1h12C28.657,5,30,6.343,30,8z M6,15h8V5h-2v2.5 c0,0.892-0.783,1.605-1.697,1.487C9.547,8.89,9,8.21,9,7.448V7.25c0-0.276,0.224-0.5,0.5-0.5h0c0.276,0,0.5,0.224,0.5,0.5V7.5 c0,0.303,0.271,0.544,0.584,0.493C10.83,7.953,11,7.721,11,7.472L11,5H6V15z M28.976,26.242C28.447,26.708,27.76,27,27,27H5 c-0.76,0-1.447-0.292-1.976-0.758C3.145,27.231,3.978,28,5,28h22C28.022,28,28.855,27.231,28.976,26.242z M29,8c0-1.105-0.895-2-2-2 H15v9c0,0.552-0.448,1-1,1H6c-0.552,0-1-0.448-1-1l0-9C3.895,6,3,6.895,3,8v16c0,1.105,0.895,2,2,2h22c1.105,0,2-0.895,2-2V8z M26.691,14.038C26.63,14.013,26.565,14,26.5,14h-4c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5h2.793l-3,3h-1.586l-1.854-1.854 c-0.195-0.195-0.512-0.195-0.707,0L15.293,19H11.5c-0.133,0-0.26,0.053-0.354,0.146L8.293,22H5.5C5.224,22,5,22.224,5,22.5 S5.224,23,5.5,23h3c0.133,0,0.26-0.053,0.354-0.146L11.707,20H15.5c0.133,0,0.26-0.053,0.354-0.146l2.646-2.646l1.646,1.646 C20.24,18.947,20.367,19,20.5,19h2c0.133,0,0.26-0.053,0.354-0.146L26,15.707V18.5c0,0.276,0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5v-4 c0-0.065-0.013-0.13-0.038-0.191C26.911,14.187,26.813,14.089,26.691,14.038z"></path> </g></svg>
                    <span class="nav-text">Reports</span>
                  </a>
                  <ul aria-expanded="false">

                    
                  <li class="text-nowrap">
                    <a href="/reports/agent_reports/view" class="ai-icon" aria-expanded="false">
                        <i class="far fa-arrow-alt-circle-right"></i>Salesman
                    </a>
                  </li>

                  <li class="text-nowrap">
                    <a href="/reports/total_sales_reports/view" class="ai-icon" aria-expanded="false">
                        <i class="far fa-arrow-alt-circle-right"></i>Total Sales
                    </a>
                  </li>


                  <!-- <li class="text-nowrap">
                  <a href="/reports/inventory_sum/view" class="ai-icon" aria-expanded="false">
                      <i class="far fa-arrow-alt-circle-right"></i>Inventory Summary
                  </a>
                  </li> -->
                  </ul>
                  </li>

              <% } %>
              

                <!-- <li>
                    <a href="/warehousemap_Income/view" class="has-arrow ai-icon" aria-expanded="false">
                      <svg viewBox="0 -0.5 24 24" id="meteor-icon-kit__solid-warehouse" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M4 23V10C4 9.4477 4.44772 8.99999 5 8.99999H19C19.5523 8.99999 20 9.4477 20 10V23H4zM18 11H6V23H18V11zM1 23C0.447715 23 0 22.5523 0 22V6.6439C0 5.85962 0.458406 5.14771 1.17239 4.82317L11.1724 0.27772C11.6982 0.03869 12.3018 0.03869 12.8276 0.27772L22.8276 4.82317C23.5416 5.14771 24 5.85962 24 6.6439V22C24 22.5523 23.5523 23 23 23H1zM6 13H18V15H6V13zM6 21H18V23H6V21zM6 17H18V19H6V17z" fill="#758CA3"></path></g></svg>
                        <span class="nav-text ">Warehouse Map</span>
                    </a>

                </li> -->

                <!-- <li>
                    <a href="/reports_sa/view" class="has-arrow ai-icon" aria-expanded="false">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g> 
                              <g> 
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.0003 6.6738C21.0003 8.7024 19.3551 10.3476 17.3265 10.3476C15.2979 10.3476 13.6536 8.7024 13.6536 6.6738C13.6536 4.6452 15.2979 3 17.3265 3C19.3551 3 21.0003 4.6452 21.0003 6.6738Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3467 6.6738C10.3467 8.7024 8.7024 10.3476 6.6729 10.3476C4.6452 10.3476 3 8.7024 3 6.6738C3 4.6452 4.6452 3 6.6729 3C8.7024 3 10.3467 4.6452 10.3467 6.6738Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.0003 17.2619C21.0003 19.2905 19.3551 20.9348 17.3265 20.9348C15.2979 20.9348 13.6536 19.2905 13.6536 17.2619C13.6536 15.2333 15.2979 13.5881 17.3265 13.5881C19.3551 13.5881 21.0003 15.2333 21.0003 17.2619Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3467 17.2619C10.3467 19.2905 8.7024 20.9348 6.6729 20.9348C4.6452 20.9348 3 19.2905 3 17.2619C3 15.2333 4.6452 13.5881 6.6729 13.5881C8.7024 13.5881 10.3467 15.2333 10.3467 17.2619Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                              </g>
                            </g>
                          </svg>
                        <span class="nav-text ">Reports</span>
                    </a>
                </li> -->

                <!-- <li>
                    <a href="/customer/view" class="has-arrow ai-icon" aria-expanded="false">
                      <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" fill="#436ed0" stroke="#436ed0"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><defs><style>.a{fill:none;stroke:#0081ee;stroke-linecap:round;stroke-linejoin:round;}</style></defs><path class="a" d="M5.5,5.5v35a2,2,0,0,0,2,2h35"></path><line class="a" x1="5.5" y1="36" x2="8.5" y2="36"></line><line class="a" x1="5.5" y1="30" x2="8.5" y2="30"></line><line class="a" x1="5.5" y1="24" x2="8.5" y2="24"></line><line class="a" x1="5.5" y1="18" x2="8.5" y2="18"></line><line class="a" x1="5.5" y1="12" x2="8.5" y2="12"></line><circle class="a" cx="39" cy="12" r="3.5"></circle><circle class="a" cx="33.28" cy="25.08" r="3.5"></circle><circle class="a" cx="21.85" cy="18" r="3.5"></circle><circle class="a" cx="15.2" cy="33" r="3.5"></circle><line class="a" x1="16.62" y1="29.8" x2="20.43" y2="21.2"></line><line class="a" x1="30.31" y1="23.24" x2="24.82" y2="19.84"></line><line class="a" x1="37.61" y1="15.21" x2="34.73" y2="21.9"></line></g></svg>
                      <span class="nav-text ">Actual Stocks</span>
                    </a>

                </li> -->

        </ul>
    </div>
</div>