<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">

                <li>
                    <a class="has-arrow ai-icon" href="/index" href="javascript:void()" aria-expanded="false">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g>
                              <g> 
                                <path d="M9.07861 16.1355H14.8936" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.3999 13.713C2.3999 8.082 3.0139 8.475 6.3189 5.41C7.7649 4.246 10.0149 2 11.9579 2C13.8999 2 16.1949 4.235 17.6539 5.41C20.9589 8.475 21.5719 8.082 21.5719 13.713C21.5719 22 19.6129 22 11.9859 22C4.3589 22 2.3999 22 2.3999 13.713Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                              </g>
                            </g>
                        </svg>
                        <span class="nav-text "><%= language.dashboard %></span>
                    </a>
                </li>
            
                <!-- <li>
                    <a href="/customer/view" class="has-arrow ai-icon" aria-expanded="false">
                      

                      <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M256 402.3h219.4v73.1H256zM256 548.6h219.4v73.1H256zM256 694.9h219.4V768H256zM621.7 694.9H768V768H621.7z" fill="#0F1F3C"></path><path d="M877.7 877.7V548.6l-292.6-117V73.1L146.3 292.6v585.1h-36.6v73.1h804.6v-73.1h-36.6z m-658.3 0V337.8L512 191.5v686.2H219.4z m365.7 0V510.3l219.4 87.8v279.6H585.1z" fill="#0F1F3C"></path></g></svg>
                          <span class="nav-text ">Affiliate </span>
                    </a>

                </li> -->

                <li>
                    <a href="/customer_sa/view" class="has-arrow ai-icon" aria-expanded="false">
                      <svg viewBox="0 -0.5 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="si-glyph si-glyph-customer-support" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>715</title> <defs> </defs> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(1.000000, 0.000000)" fill="#434343"> <g transform="translate(0.000000, 2.000000)"> <path d="M8.005,10.094 C6.563,10.094 5.098,9.238 4.243,8.105 C0.141,8.105 0.017,13.965 0.017,13.965 L15.992,13.965 C15.992,13.965 16.314,8.079 11.701,8.079 C10.847,9.226 9.447,10.094 8.005,10.094 Z" class="si-glyph-fill"> </path> <path d="M11.441,3.069 C11.441,4.755 9.902,7.979 8.002,7.979 C6.105,7.979 4.565,4.754 4.565,3.069 C4.565,1.384 6.104,0.016 8.002,0.016 C9.902,0.017 11.441,1.385 11.441,3.069 L11.441,3.069 Z" class="si-glyph-fill"> </path> </g> <path d="M12.975,3.614 C12.975,3.298 12.535,3.043 11.989,3.041 L11.989,2.39 C11.989,2.293 12.026,0.022 8.014,0.022 C4.004,0.022 4.041,2.293 4.041,2.39 L4.041,3.064 C4.031,3.064 4.023,3.061 4.014,3.061 C3.471,3.061 3.034,3.312 3.034,3.623 L3.034,6.377 C3.034,6.686 3.472,6.938 4.014,6.938 C4.556,6.938 4.996,6.686 4.996,6.377 L4.996,3.623 C4.996,3.58 4.969,3.541 4.953,3.501 L4.953,2.75 C4.953,2.681 4.665,0.967 8.014,0.967 C11.364,0.967 11.016,2.681 11.016,2.75 L11.016,3.541 C11.01,3.566 10.991,3.588 10.991,3.614 L10.991,6.431 C10.991,6.748 11.434,7.005 11.983,7.005 C11.995,7.005 12.004,7.001 12.016,7.001 L12.016,8.03 L11.032,8.03 L11.032,9 L12.985,9 L12.975,3.614 L12.975,3.614 Z" class="si-glyph-fill"> </path> </g> </g> </g></svg>
                        <span class="nav-text "><%= language.customer %></span>
                    </a>

                </li>



                


                <li class="has-menu">
                  <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M19.838 5.455a1 1 0 00-.432-.369l-9-4a.999.999 0 00-.812 0l-9 4A1 1 0 000 6v14h2V6.65l8-3.556 8 3.556V20h2V6a1 1 0 00-.162-.545zM12 8h4v4h-4V8zm-2 2H4v10h6V10zm6 4h-4v6h4v-6z" fill="#5C5F62"></path></g></svg>
                      <span class="nav-text">Inventory</span>
                  </a>
                  <ul aria-expanded="false">
                    <li>
                      <a href="/my_inventory/view" class="ai-icon" aria-expanded="false">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M18 5.65l-8-3.555L2 5.65V19H0V5c0-.396.232-.753.594-.913l9-4a.999.999 0 01.812 0l9 4A1 1 0 0120 5v14h-2V5.65z" fill="#5C5F62"></path><path d="M9 15a.997.997 0 01-.707-.293l-2-2a1 1 0 011.414-1.414L9 12.586l3.293-3.293a1 1 0 111.414 1.415l-4 4A.999.999 0 019 15z" fill="#5C5F62"></path></g></svg>
                        <span class="nav-text ">My Inventory</span>
                      </a>
  
                    </li>

                    <li>
                      <a href="/main_inventory/view" class="ai-icon" aria-expanded="false">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M19.838 5.455a1 1 0 00-.432-.369l-9-4a.999.999 0 00-.812 0l-9 4A1 1 0 000 6v14h2V6.65l8-3.556 8 3.556V20h2V6a1 1 0 00-.162-.545zM12 8h4v4h-4V8zm-2 2H4v10h6V10zm6 4h-4v6h4v-6z" fill="#5C5F62"></path></g></svg>
                        <span class="nav-text ">Main Inventory</span>
                      </a>
  
                    </li>

                  </ul>
                  </li>


                


                <li>
                    <a href="/sales_sa/" class="has-arrow ai-icon" aria-expanded="false">
                      <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect width="48" height="48" fill="white" fill-opacity="0.01"></rect> <path d="M41 13.9997L24 4L7 13.9997L7 33.9998L24 44L41 33.9998V13.9997Z" fill="#2F88FF" stroke="#000000" stroke-width="4" stroke-linejoin="round"></path> <path d="M24 22V30" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M32 18V30" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M16 26V30" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                      <span class="nav-text ">Sales</span>
                    </a>
                </li>

                <li>
                  <a href="/gross_price_setup/" class="has-arrow ai-icon" aria-expanded="false">
                    <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50.189 50.189" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M38.799,23.748c-0.93-1.371-1.624-3.553-1.199-5.154l2.02-7.601c0.425-1.602-0.003-3.253-0.956-3.689 c-0.954-0.436-1.727-0.789-1.727-0.789c-0.635-0.289-1.403-0.614-2.325-0.92c-1.312-0.436-2.415-1.756-2.415-3.122 c0-1.365-1.343-2.473-3-2.473H21.25c-1.657,0-3,1.334-3,2.978s-1.265,3.469-2.644,4.388c-3.702,2.467-5.887,6.349-5.887,10.913 c0,2.063,0.439,3.822,1.157,5.322c0.715,1.494,1.293,3.811,0.881,5.417L9.438,38.07c-0.412,1.605-0.062,3.283,0.778,3.748 c0.842,0.465,1.524,0.843,1.524,0.843c0.977,0.54,2.119,1.02,3.356,1.422c1.576,0.513,2.9,1.959,2.9,3.435 c0,1.475,1.343,2.672,3,2.672h7.997c1.657,0,3-1.344,3-3v-0.305c0-1.656,1.271-3.475,2.664-4.371 c3.905-2.511,6.27-6.578,6.27-11.312C40.927,28.082,40.093,25.656,38.799,23.748z M30.306,39.699 c-1.537,0.615-2.889,1.955-2.889,3.391s-1.118,2.6-2.499,2.6c-1.379,0-2.498-1.072-2.498-2.396c0-1.325-1.347-2.441-2.979-2.732 c-1.005-0.18-1.963-0.416-2.835-0.69c-1.581-0.497-2.435-2.445-2.022-4.052l0.024-0.094c0.412-1.604,1.92-2.236,3.482-1.687 c1.675,0.591,3.6,1.002,5.643,1.002c2.927,0,4.896-1.161,4.896-3.13c0-1.918-1.615-3.129-5.399-4.393 c-5.401-1.815-9.086-4.341-9.086-9.237c0-3.624,2.037-6.591,5.66-8.133c1.524-0.649,2.87-1.925,2.87-3.249 c0-1.324,1.107-2.398,2.474-2.398c1.365,0,2.474,0.994,2.474,2.221c0,1.227,1.35,2.231,2.982,2.516 c0.56,0.098,1.082,0.215,1.57,0.347c1.602,0.431,2.478,2.302,2.059,3.876c-0.418,1.575-1.95,2.209-3.537,1.731 c-1.198-0.361-2.689-0.646-4.488-0.646c-3.28,0-4.341,1.464-4.341,2.877c0,1.615,1.767,2.726,6.106,4.29 c6.008,2.12,8.38,4.896,8.38,9.489C36.352,34.882,34.254,38.12,30.306,39.699z"></path> </g> </g></svg>
                    <span class="nav-text ">Gross</span>
                  </a>
              </li>

                <li>
                  <a href="/collection/view" class="has-arrow ai-icon" aria-expanded="false">
                    <svg fill="#000000" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M1242.353 677.647V1920H0V677.647h1242.353Zm-112.941 112.941H112.942v1016.47h1016.47V790.589Zm-790.588 338.824h564.705V1016.47H338.824v112.94Zm0 451.764h564.705v-112.94H338.824v112.94ZM1581.176 338.824v1242.352h-225.882v-112.94h112.941V451.764H451.765v112.94H338.824V338.825h1242.352Zm-790.475 903.529v112.941H338.824v-112.941H790.7ZM1920.034-.011v1242.353h-225.882V1129.4h112.94V112.93H790.623v112.94H677.681V-.01h1242.353Z" fill-rule="evenodd"></path> </g></svg>
                    <span class="nav-text ">Collection</span>
                  </a>
              </li>

              <% if (role.sales_category == "1" && role.account_category == "sa") { %>
                <% console.log(role) %>

                <li class="text-nowrap">
                  <a href="/reports/agent_reports/view" class="ai-icon" aria-expanded="false">
                      <i class="far fa-arrow-alt-circle-right"></i>Ex Truck Reports
                  </a>
              </li>

              <li class="text-nowrap">
                <a href="/reports/total_sales_reports/view" class="ai-icon" aria-expanded="false">
                    <i class="far fa-arrow-alt-circle-right"></i>Total Sales Reports
                </a>
            </li>
              <% } %>
              

                <!-- <li>
                    <a href="/warehousemap_Income/view" class="has-arrow ai-icon" aria-expanded="false">
                      <svg viewBox="0 -0.5 24 24" id="meteor-icon-kit__solid-warehouse" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M4 23V10C4 9.4477 4.44772 8.99999 5 8.99999H19C19.5523 8.99999 20 9.4477 20 10V23H4zM18 11H6V23H18V11zM1 23C0.447715 23 0 22.5523 0 22V6.6439C0 5.85962 0.458406 5.14771 1.17239 4.82317L11.1724 0.27772C11.6982 0.03869 12.3018 0.03869 12.8276 0.27772L22.8276 4.82317C23.5416 5.14771 24 5.85962 24 6.6439V22C24 22.5523 23.5523 23 23 23H1zM6 13H18V15H6V13zM6 21H18V23H6V21zM6 17H18V19H6V17z" fill="#758CA3"></path></g></svg>
                        <span class="nav-text ">Warehouse Map</span>
                    </a>

                </li> -->

                <!-- <li>
                    <a href="/reports_sa/view" class="has-arrow ai-icon" aria-expanded="false">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g> 
                              <g> 
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.0003 6.6738C21.0003 8.7024 19.3551 10.3476 17.3265 10.3476C15.2979 10.3476 13.6536 8.7024 13.6536 6.6738C13.6536 4.6452 15.2979 3 17.3265 3C19.3551 3 21.0003 4.6452 21.0003 6.6738Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3467 6.6738C10.3467 8.7024 8.7024 10.3476 6.6729 10.3476C4.6452 10.3476 3 8.7024 3 6.6738C3 4.6452 4.6452 3 6.6729 3C8.7024 3 10.3467 4.6452 10.3467 6.6738Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.0003 17.2619C21.0003 19.2905 19.3551 20.9348 17.3265 20.9348C15.2979 20.9348 13.6536 19.2905 13.6536 17.2619C13.6536 15.2333 15.2979 13.5881 17.3265 13.5881C19.3551 13.5881 21.0003 15.2333 21.0003 17.2619Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3467 17.2619C10.3467 19.2905 8.7024 20.9348 6.6729 20.9348C4.6452 20.9348 3 19.2905 3 17.2619C3 15.2333 4.6452 13.5881 6.6729 13.5881C8.7024 13.5881 10.3467 15.2333 10.3467 17.2619Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                              </g>
                            </g>
                          </svg>
                        <span class="nav-text ">Reports</span>
                    </a>
                </li> -->

                <!-- <li>
                    <a href="/customer/view" class="has-arrow ai-icon" aria-expanded="false">
                      <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" fill="#436ed0" stroke="#436ed0"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><defs><style>.a{fill:none;stroke:#0081ee;stroke-linecap:round;stroke-linejoin:round;}</style></defs><path class="a" d="M5.5,5.5v35a2,2,0,0,0,2,2h35"></path><line class="a" x1="5.5" y1="36" x2="8.5" y2="36"></line><line class="a" x1="5.5" y1="30" x2="8.5" y2="30"></line><line class="a" x1="5.5" y1="24" x2="8.5" y2="24"></line><line class="a" x1="5.5" y1="18" x2="8.5" y2="18"></line><line class="a" x1="5.5" y1="12" x2="8.5" y2="12"></line><circle class="a" cx="39" cy="12" r="3.5"></circle><circle class="a" cx="33.28" cy="25.08" r="3.5"></circle><circle class="a" cx="21.85" cy="18" r="3.5"></circle><circle class="a" cx="15.2" cy="33" r="3.5"></circle><line class="a" x1="16.62" y1="29.8" x2="20.43" y2="21.2"></line><line class="a" x1="30.31" y1="23.24" x2="24.82" y2="19.84"></line><line class="a" x1="37.61" y1="15.21" x2="34.73" y2="21.9"></line></g></svg>
                      <span class="nav-text ">Actual Stocks</span>
                    </a>

                </li> -->

        </ul>
    </div>
</div>